body {
    background-color:#030303;
    color: #dfdfdf;
    padding: 12px;
}

div {
    position: relative;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
}

@media only screen and (orientation: portrait) {
    .flex-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .text {
        text-align: center;
        border: solid 2px #dfdfdf;
        padding: 12px;
    }

    .img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    word-wrap: break-word;
    
    border: solid 2px #dfdfdf;
    padding: 36px;
    font-size: 24px;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
    
    max-width: 100%;
    height: 90vh;
    object-fit: contain;
}